<h4>Edit Question</h4>
<%= form_for(@question, html: { multipart: true }) do |f| %>
  
  	<%= f.label :title %>
  	<%= f.text_field :title %>
    <%= f.label :description_markdown %>
    <%= f.text_area :description_markdown, id: "description2" %>
    <%= f.label :explanation_markdown %>
    <%= f.text_area :explanation_markdown, id: "explanation2" %>
    <%= f.label :tag_list, "Topics" %>
  <div class="actions">
    <%= f.submit "Continue" %>
  </div>
<% end %>

<%= react_component 'EditCardSasensei', {card_id: @question.id,title: @question.title, answers: @question.answers, description: @question.description_markdown, choice: @question.choice, tag_list: @question.tag_list, submit_img: image_path('submit.png'), explanation: @question.explanation_markdown,csrfToken: form_authenticity_token} %>
