<div class="row">
	<div class="large-10 large-centered columns">
		<%= react_component 'IndexCard', {title_page: "RUN A SESSION"} %>
		<div class="row white-background">
			<div class="small-4 columns">
				<div class="row">
					<%= react_component 'SearchByTag', {tag_path: request.url}%>
				</div>		
			</div>
			<div class="small-8 columns">
				<h4 class="bold">Sessions passed: <%= @number_session_passeds %></h4>
				<% if @number_sessions.to_i > 0%>
					<%= @number_sessions %>
					<%= link_to "Run Session", run_sessions_path(session_id: @id_session.to_i) %>
				<% end %>
			</div>
		</div>
	</div>
</div>