<%= form_for(@session, html: { multipart: true }) do |f| %>

	<div class="field">
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>
	<div class="actions">
		<%= f.submit "Save", class: "button", id: "save-session" %>
	</div>

	<% @questions.each do |question| %>
		<div>
			<%= check_box_tag 'question[ids][]', question.id %>
			<%= label_tag 'select', 'Select' %>
		</div>
        <%= react_component 'Card', {title: question.title, id: question.id, description: markdown(question.description_markdown), tag_list: question.tag_list,tag_path: request.url} %>
	<% end %>

<% end %>