<div class="row">
	<div class="large-10 large-centered columns">	
		<%= form_for(@session, html: { multipart: true }) do |f| %>
			<%= react_component 'IndexCard', {question: @questions, questions_path: questions_path, tag_path: request.url, title_page: "CREATE A SESSION",		description_page: "Manage your sessions: review rating, edit, delete and read comments"
}%>
			<div class="container-session row">
				<div class="large-8 columns">
					<div class="field">
					<%= f.label :title %>
					<%= f.text_field :title, placeholder: "Start typing a title for new session", value: params[:title], id: "title-session"%>
					</div>
					<%= f.label :tag, "Tag" %>
           			<%= f.select :tag, options_for_select(Session.tags.collect{ |key, value| [key, key]}, params[:the_tag]), {include_blank: true}, id: "select-tag" %>

				</div>
				<div class="large-4 columns">										
					<div class="actions">
						<%= f.submit "Save", class: "button large radius-10 expanded", id: "save-session" %>
					</div>
				</div>
			</div>
			<%= react_component 'SearchCardSession', {questions_path: new_session_path} %>

			<div id="card-container-session" class="row container-session"></div>	
		<% end %>
	</div>
</div>