<%= react_component 'SessionStats', {cont: @cont, percentage_session: @percentage_session, passed_session: @passed_session, percentage_people: @percentage_people, time_at: @time_at} %>

	<h1><%= @highest_score.user.name %></h1>
	<h2><%= @highest_score.time_at.strftime("%M:%S") %></h2>
	<h2><%= @highest_score.number_cards_correct %></h2> 
	<h2><%= @highest_score.percentage %></h2>
