<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Macro-people" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  </head>

  <body class="sassensei">
    <%= render partial: 'layouts/flash' %>
    <% if user_signed_in? %>      
      <%= react_component 'HeaderDesktop', {user: current_user, sign_out: destroy_user_session_path,  points: current_user.points, profile_settings: edit_user_registration_path, img: image_path('logo-macro.png'), root_path: root_path, tokens_wallet_path: tokens_wallet_path} %>
    <% else %>  
    <%end%>    
    <%= yield %>
  </body>
</html>
